networks:
  traefik:
    external: true
  internal:

volumes:
  database-storage:
  app-storage:
  app-data:
  log-data:

services:
  app:
    restart: unless-stopped
    image: "solidtime/solidtime:${SOLIDTIME_IMAGE_TAG:-latest}"
    user: "1000:1000"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik"
      - "traefik.http.services.solidtime.loadbalancer.server.port=8000"
      - "traefik.http.routers.solidtime.rule=Host(`solidtime.localhost`)"
      - "traefik.http.routers.solidtime.entrypoints=http"
    networks:
      - traefik
      - internal
    volumes:
      - "app-storage:/var/www/html/storage"
      - "log-data:/var/www/html/storage/logs"
      - "app-data:/var/www/html/storage/app"
    environment:
      CONTAINER_MODE: http
    healthcheck:
      test: [ "CMD", "curl", "--fail", "http://localhost:8000/health-check/up" ]
    env_file: .env
    depends_on:
      - database
  
  scheduler:
    restart: unless-stopped
    image: "solidtime/solidtime:${SOLIDTIME_IMAGE_TAG:-latest}"
    user: "1000:1000"
    networks:
      - internal
    volumes:
      - "app-storage:/var/www/html/storage"
      - "log-data:/var/www/html/storage/logs"
      - "app-data:/var/www/html/storage/app"
    environment:
      CONTAINER_MODE: scheduler
    healthcheck:
      test: [ "CMD", "healthcheck" ]
    env_file: .env
    depends_on:
      - database
  
  queue:
    restart: unless-stopped
    image: "solidtime/solidtime:${SOLIDTIME_IMAGE_TAG:-latest}"
    user: "1000:1000"
    networks:
      - internal
    volumes:
      - "app-storage:/var/www/html/storage"
      - "log-data:/var/www/html/storage/logs"
      - "app-data:/var/www/html/storage/app"
    environment:
      CONTAINER_MODE: worker
      WORKER_COMMAND: "php /var/www/html/artisan queue:work"
    healthcheck:
      test: [ "CMD", "healthcheck" ]
    env_file: .env
    depends_on:
      - database
  
  database:
    restart: unless-stopped
    image: 'postgres:15'
    environment:
      PGPASSWORD: '${DB_PASSWORD:-secret}'
      POSTGRES_DB: '${DB_DATABASE}'
      POSTGRES_USER: '${DB_USERNAME}'
      POSTGRES_PASSWORD: '${DB_PASSWORD:-secret}'
    volumes:
      - 'database-storage:/var/lib/postgresql/data'
    networks:
      - internal
    healthcheck:
      test:
        - CMD
        - pg_isready
        - '-q'
        - '-d'
        - '${DB_DATABASE}'
        - '-U'
        - '${DB_USERNAME}'
      retries: 3
      timeout: 5s
  
  gotenberg:
    image: gotenberg/gotenberg:8
    networks:
      - internal
    healthcheck:
      test: [ "CMD", "curl", "--silent", "--fail", "http://localhost:3000/health" ]
